# Just for fun

## To see how hard is gay dating

### Gay Dating

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
%matplotlib inline

In [14]:
class GayDating():

  def __init__(self, radius, preference):

    ## Getting 6 different city
    self.city_names = ['Kolkata', 'Mumbai', 'Delhi', 'San Fransisco', 'New York', 'Los Angeles']
    #Getting population in Million
    self.population = [4.5, 12.48, 16.78, 0.88, 8.6, 3.97]
    #Getting area in sq Km
    self.area = [206.8, 603.0, 1484.0, 121.51, 468.19, 502.73] 


    #Getting population density in Million / sq. Km
    self.population_density = np.divide(self.population, self.area) 
    #Getting datable area, input by user
    self.datable_area = (22/7) * radius * radius 
    #Getting population within the area in Million
    self.datable_population_No = np.array(self.population_density) * self.datable_area 
    #Percentage of gay people, not LGBTQ
    self.percentage_gay = [.22, .22, .22, 5.54, 1.62, 2.02] 
    #Getting datable population in the area in Million
    self.datable_population = np.array(np.multiply(self.datable_population_No, self.percentage_gay)) / 100 


    #Getting preference of the user
    self.preference = preference
    #Set percentage of tops, bottoms, vers and unknown
    self.preference_dict = {'b' : 21, 't' : 19, 'v' : 35, 'a' : 25}
    #getting the percentage of 
    self.per  = 0
    if self.preference == 'b':
      self.per = self.preference_dict['t'] + self.preference_dict['v'] * random.random() + self.preference_dict['a'] * random.random() + self.preference_dict['b'] * random.random()/10
    if self.preference == 't':
      self.per = self.preference_dict['b'] + self.preference_dict['v'] * random.random() + self.preference_dict['a'] * random.random() + self.preference_dict['t'] * random.random()/10
    if self.preference == 'v':
      self.per = self.preference_dict['t'] + self.preference_dict['v'] + self.preference_dict['a'] * random.random() + self.preference_dict['b']

    #Getting datable population with preference in Million
    self.datable_population_pref = np.array(self.datable_population) * self.per / 100
    self.datable_array = self.datable_population_pref

    #Age data
    I18_24 = 11.13 / (24 - 18 + 1)
    I25_44 = 27.6 / (44 - 25 + 1)
    I45_64 = 13.5 / (64 - 45 + 1)
    I65_80 = 4.8 / (80 - 65 + 1)
    A18_24 = 9.9 / (24 - 18 + 1)
    A25_44 = 26.6 / (44 - 25 + 1)
    A45_64 = 26.4 / (64 - 45 + 1)
    A65_80 = 13.0 / (80 - 65 + 1)

    self.age_data = [[18, I18_24, A18_24], [19, I18_24, A18_24], [20, I18_24, A18_24], [21, I18_24, A18_24], [22, I18_24, A18_24], [23, I18_24, A18_24], [24, I18_24, A18_24],
            [25, I25_44, A25_44], [26, I25_44, A25_44], [27, I25_44, A25_44], [28, I25_44, A25_44], [29, I25_44, A25_44], [30, I25_44, A25_44], [31, I25_44, A25_44], [32, I25_44, A25_44],
            [33, I25_44, A25_44], [34, I25_44, A25_44], [35, I25_44, A25_44], [36, I25_44, A25_44], [37, I25_44, A25_44], [38, I25_44, A25_44], [39, I25_44, A25_44], [40, I25_44, A25_44],
            [41, I25_44, A25_44], [42, I25_44, A25_44], [43, I25_44, A25_44], [44, I25_44, A25_44], 
            [45, I45_64, A45_64], [46, I45_64, A45_64], [47, I45_64, A45_64], [48, I45_64, A45_64], [49, I45_64, A45_64], [50, I45_64, A45_64], [51, I45_64, A45_64], [52, I45_64, A45_64],
            [53, I45_64, A45_64], [54, I45_64, A45_64], [55, I45_64, A45_64], [56, I45_64, A45_64], [57, I45_64, A45_64], [58, I45_64, A45_64], [59, I45_64, A45_64], [60, I45_64, A45_64],
            [61, I45_64, A45_64], [62, I45_64, A45_64], [63, I45_64, A45_64], [64, I45_64, A45_64],
            [65, I65_80, A65_80], [66, I65_80, A65_80], [67, I65_80, A65_80], [68, I65_80, A65_80], [69, I65_80, A65_80], [70, I65_80, A65_80], [71, I65_80, A65_80], [72, I65_80, A65_80],
            [73, I65_80, A65_80], [74, I65_80, A65_80], [75, I65_80, A65_80], [76, I65_80, A65_80], [77, I65_80, A65_80], [78, I65_80, A65_80], [79, I65_80, A65_80], [80, I65_80, A65_80]]
    self.age_df = pd.DataFrame(self.age_data, columns=['age', 'india_per', 'usa_per'])
    #print(self.age_df)

  def marraige(self, decision):
    #https://www.prnewswire.com/news-releases/match-releases-new-study-on-lgbtq-single-population-300273510.html
    if decision == 'y':
      self.datable_array = np.array(self.datable_array) * 63 / 100   #According to match.com 63% of LGBT want to get marry, others do not
    elif decision == 'n':
      self.datable_array = np.array(self.datable_array) * 25 / 100
    elif decision == 'ns':
      self.datable_array = np.array(self.datable_array) * 12 / 100

  def want_kid(self, decision):
    #https://www.prnewswire.com/news-releases/match-releases-new-study-on-lgbtq-single-population-300273510.html
    if decision == 'y':
      self.datable_array = np.array(self.datable_array) * 36 / 100
    else:
      self.datable_array = np.array(self.datable_array) * 64 / 100

  def type_of_realtionship(self, decision):
    #https://www.thecouplesstudy.com/wp-content/uploads/2016/08/CHOICES-Younger-Gay-Men-final-160812.pdf
    if decision == 'monogamy':
      self.datable_array = np.array(self.datable_array) * 83.5 / 100
    elif decision == 'non':
      self.datable_array = np.array(self.datable_array) * 16.5 / 100

  def age_range(self, low, high):
    #https://www.census.gov/prod/cen2010/briefs/c2010br-03.pdf
    #https://censusindia.gov.in/Census_And_You/age_structure_and_marital_status.aspx
    if low < 18:
      return 0
    else:
      self.per_i = 0
      self.per_a = 0
      for i in range(low,high + 1):
        self.per_i = self.per_i + float(self.age_df[self.age_df['age'] == i]['india_per'])
        self.per_a = self.per_a + float(self.age_df[self.age_df['age'] == i]['usa_per'])
      
      self.age_per = [self.per_i, self.per_i, self.per_i, self.per_a, self.per_a, self.per_a]
      self.datable_array = np.array(np.multiply(self.datable_array, self.age_per)) / 100

  def r(self):
    return self.datable_array

In [21]:
#Input a number for the radius in which you would wanna data
#Input your preference t = top, v = vers, b = bottom
obj = GayDating(radius = 5, preference = 't')

In [22]:
#Input your decision to marry
# y for yes, n for no, ns for not sure
obj.marraige(decision = 'y')

In [23]:
#Input your decision to have kids
# y for yes, n for no
obj.want_kid(decision = 'y')

In [24]:
#Input the type of realtionship
#monogamy for monogamy, non for non-monogamy
obj.type_of_realtionship(decision = 'monogamy')

In [25]:
#Input the age range you would wanna date
obj.age_range(19, 26)

In [26]:
n = obj.r()
n = np.array(n) * 1000000
print(n)

[ 47.25664537  44.94673846  24.55607579 358.89006765 266.17812143
 142.68821247]

### Str8 Dating

In [10]:
class Str8Dating():

  def __init__(self, radius):

    ## Getting 6 different city
    self.city_names = ['Kolkata', 'Mumbai', 'Delhi', 'San Fransisco', 'New York', 'Los Angeles']
    #Getting population in Million
    self.population = [4.5, 12.48, 16.78, 0.88, 8.6, 3.97]
    #Getting area in sq Km
    self.area = [206.8, 603.0, 1484.0, 121.51, 468.19, 502.73] 


    #Getting population density in Million / sq. Km
    self.population_density = np.divide(self.population, self.area) 
    #Getting datable area, input by user
    self.datable_area = (22/7) * radius * radius 
    #Getting population within the area in Million
    self.datable_population = np.array(self.population_density) * self.datable_area 

    self.datable_array = np.array(self.datable_population) / 2

    #Age data
    I18_24 = 11.13 / (24 - 18 + 1)
    I25_44 = 27.6 / (44 - 25 + 1)
    I45_64 = 13.5 / (64 - 45 + 1)
    I65_80 = 4.8 / (80 - 65 + 1)
    A18_24 = 9.9 / (24 - 18 + 1)
    A25_44 = 26.6 / (44 - 25 + 1)
    A45_64 = 26.4 / (64 - 45 + 1)
    A65_80 = 13.0 / (80 - 65 + 1)

    self.age_data = [[18, I18_24, A18_24], [19, I18_24, A18_24], [20, I18_24, A18_24], [21, I18_24, A18_24], [22, I18_24, A18_24], [23, I18_24, A18_24], [24, I18_24, A18_24],
            [25, I25_44, A25_44], [26, I25_44, A25_44], [27, I25_44, A25_44], [28, I25_44, A25_44], [29, I25_44, A25_44], [30, I25_44, A25_44], [31, I25_44, A25_44], [32, I25_44, A25_44],
            [33, I25_44, A25_44], [34, I25_44, A25_44], [35, I25_44, A25_44], [36, I25_44, A25_44], [37, I25_44, A25_44], [38, I25_44, A25_44], [39, I25_44, A25_44], [40, I25_44, A25_44],
            [41, I25_44, A25_44], [42, I25_44, A25_44], [43, I25_44, A25_44], [44, I25_44, A25_44], 
            [45, I45_64, A45_64], [46, I45_64, A45_64], [47, I45_64, A45_64], [48, I45_64, A45_64], [49, I45_64, A45_64], [50, I45_64, A45_64], [51, I45_64, A45_64], [52, I45_64, A45_64],
            [53, I45_64, A45_64], [54, I45_64, A45_64], [55, I45_64, A45_64], [56, I45_64, A45_64], [57, I45_64, A45_64], [58, I45_64, A45_64], [59, I45_64, A45_64], [60, I45_64, A45_64],
            [61, I45_64, A45_64], [62, I45_64, A45_64], [63, I45_64, A45_64], [64, I45_64, A45_64],
            [65, I65_80, A65_80], [66, I65_80, A65_80], [67, I65_80, A65_80], [68, I65_80, A65_80], [69, I65_80, A65_80], [70, I65_80, A65_80], [71, I65_80, A65_80], [72, I65_80, A65_80],
            [73, I65_80, A65_80], [74, I65_80, A65_80], [75, I65_80, A65_80], [76, I65_80, A65_80], [77, I65_80, A65_80], [78, I65_80, A65_80], [79, I65_80, A65_80], [80, I65_80, A65_80]]
    self.age_df = pd.DataFrame(self.age_data, columns=['age', 'india_per', 'usa_per'])
    #print(self.age_df)

  def marraige(self, decision):
    if decision == 'y':
      self.datable_array = np.array(self.datable_array) * 63 / 100   #According to match.com 63% of LGBT want to get marry, others do not
    elif decision == 'n':
      self.datable_array = np.array(self.datable_array) * 25 / 100
    elif decision == 'ns':
      self.datable_array = np.array(self.datable_array) * 12 / 100

  def want_kid(self, decision):
    if decision == 'y':
      self.datable_array = np.array(self.datable_array) * 36 / 100
    else:
      self.datable_array = np.array(self.datable_array) * 64 / 100

  def type_of_realtionship(self, decision):
    #https://www.thecouplesstudy.com/wp-content/uploads/2016/08/CHOICES-Younger-Gay-Men-final-160812.pdf
    if decision == 'monogamy':
      self.datable_array = np.array(self.datable_array) * 83.5 / 100
    elif decision == 'non':
      self.datable_array = np.array(self.datable_array) * 16.5 / 100

  def age_range(self, low, high):
    #https://www.census.gov/prod/cen2010/briefs/c2010br-03.pdf
    #https://censusindia.gov.in/Census_And_You/age_structure_and_marital_status.aspx
    if low < 18:
      return 0
    else:
      self.per_i = 0
      self.per_a = 0
      for i in range(low,high + 1):
        self.per_i = self.per_i + float(self.age_df[self.age_df['age'] == i]['india_per'])
        self.per_a = self.per_a + float(self.age_df[self.age_df['age'] == i]['usa_per'])
      
      self.age_per = [self.per_i, self.per_i, self.per_i, self.per_a, self.per_a, self.per_a]
      self.datable_array = np.array(np.multiply(self.datable_array, self.age_per)) / 100

  def r(self):
    return self.datable_array

In [11]:
d = Str8Dating(5)
d.marraige('y')
d.want_kid('y')
d.type_of_realtionship('monogamy')
d.age_range(19, 26)
n8 = d.r()
n8 = np.array(n) * 1000000
print(n8)

[7.04561374e+07 6.70122383e+07 3.66112795e+07 5.35078352e+08
 3.96851747e+08 2.12737494e+08]

In [12]:
per = np.array(np.divide(n, n8)) / 100

In [13]:
print(per)

[1.e-08 1.e-08 1.e-08 1.e-08 1.e-08 1.e-08]